/* Write some CSS below */



/*suggested*/
/*body {
  font-family: Overpass;
  color: #404042;
  font-size: 18px;
}
*/
/*me*/

body {
	margin: 15;
	font-family: 'Nunito', sans-serif;
	font-size-adjust: inherit;
	/*font-family: Lato*/
}


/*suggested*/

/*h1, h2, h3 {
  font-family: Chivo;
}*/

/*me*/
h2 { 
	color: gray; 
	background-color:  
}


/*suggested*/

/*a {
  color: #1A48E3;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}*/


/*me*/
a {
	background-color: #02b9b9
	font-weight: bold;
	color: grey;
	text-decoration: none;
	padding: 16px 24px;
	border-radius: 4px;
	transition: .3s;
}


/*suggested*/
a:hover {
  color: #CE2FAE;
}

/*me*/

/*a:hover {
	background-color: teal;
}*/

/* . shows us it is a class*/

.banner {
	/*background-image: url('https://images.unsplash.com/photo-1593302653313-be7a3e5ef00d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');*/
	background-image: url('https://images.unsplash.com/photo-1594172104177-64ee7358bad6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80');
	height: 900px;
	/*height: 60vh;*/
	/*width: 100vw;*/
	background-size: cover;
	background-position: center;

}


.banner-text {
	/*background-color: #eee;*/
	margin-bottom: 32px;
	color: white;
	padding-top: 16vh;
	padding-left: 2vw;
}

.banner-header {
	margin-top: 0;
}

.NLP {
	margin: 32px;
	width: 300px;
	height: auto;
	box-shadow: 0px 0px 8 px #ccc;
	border-radius: 4px;
}


/*CSS grid*/

.cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 16px;
}
/* for all images - not desirable sometimes*/
/*img {
	width: 280px;
	height: auto;
}*/

/*adjusting for only one image*/
.NLP img {
	width: 300px;
	/*width: 100%;*/
	height: auto;
	border-radius: 4px;
}

.NLP-content {
	padding: 16px;
}

.predict {
	margin: 32px;
	width: 300px;
	height: auto;
	box-shadow: 0px 0px 8 px #ccc;
	border-radius: 4px;
}

.predict img {
	width: 300px;
	/*width: 100%;*/
	height: auto;
	border-radius: 4px;
}

.predict-content {
	padding: 16px;
}

.more {
	margin: 32px;
	width: 300px;
	height: auto;
	box-shadow: 0px 0px 8 px #ccc;
	border-radius: 4px;
}

.more img {
	width: 300px;
	/*width: 100%;*/
	height: auto;
	border-radius: 4px;
}

.more-content {
	padding: 16px;
}