/* Write some CSS below */



/*suggested*/
/*body {
  font-family: Overpass;
  color: #404042;
  font-size: 18px;
}
*/
/*me*/

body {
	margin: 0;
	background: rgb(255, 255, 255);
	font-family: 'Nunito', sans-serif;
	font-size-adjust: inherit;
	font-weight: 400;
	/*font-family: Lato*/
}

.container {
	width: 100%;
	margin: 0 auto;
}

/* header {
	background: #f6c8bd;
}

header:: after {
	content: '';
	display: table;
	clear: both;

} */

.logo {
	float: left;
	padding: 10px 0;

}

nav {
	background: #f6c8bd;
	float: right;
	margin-top: 0;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 70px;
	padding-top: 25px;
	/* padding: 0;
	list-style: none; */
	position: relative;
}


nav a {
	color: rgb(68, 68, 68);
	text-decoration: none;
	/* text-transform: uppercase; */
	font-size: 18px;
}

nav a:hover{
	color: 	#ed787b;

}

nav a::before {
	content: '';
	display: block;
	height: 5px;
	width: 100%;
	background-color: azure;
	position: absolute;
	top: 0;
	width: 0%;
	transition: all ease-in-out 1000 ms;
}

nav a:hover::before {
	width: 100%

}


/*suggested*/

/*h1, h2, h3 {
  font-family: Chivo;
}*/

/*me*/
h2 { 
	color: rgb(68, 68, 68); 
	background-color:  
}


/*suggested*/

/*a {
  color: #1A48E3;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}*/


/*me*/
a {
	background-color: #02b9b9
	font-weight: bold;
	color: grey;
	text-decoration: none;
	padding: 16px 24px;
	border-radius: 4px;
	transition: .3s;
}


/*suggested*/
a:hover {
  color: #e86f57;
}

/*me*/

/*a:hover {
	background-color: teal;
}*/

/* . shows us it is a class*/


/* img{
	opacity:0.5;
} */


.banner-text {
	/*background-color: #eee;*/
	margin-bottom: 32px;
	color: rgb(68, 68, 68);
	padding-top: 16vh;
	padding-left: 12vw;
}

.banner-header {
	margin-top: 0;
}

.NLP {
	margin: 32px;
	width: 300px;
	height: auto;
	box-shadow: 0px 0px 8 px #ccc;
	border-radius: 4px;
}


/*CSS grid*/

.cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 16px;
}
/* for all images - not desirable sometimes*/
/*img {
	width: 280px;
	height: auto;
}*/

/*adjusting for only one image*/
.NLP img {
	width: 300px;
	/*width: 100%;*/
	height: auto;
	border-radius: 4px;
}

.NLP-content {
	padding: 16px;
}

.predict {
	margin: 32px;
	width: 300px;
	height: auto;
	box-shadow: 0px 0px 8 px #ccc;
	border-radius: 4px;
}

.predict img {
	width: 300px;
	/*width: 100%;*/
	height: auto;
	border-radius: 4px;
}

.predict-content {
	padding: 16px;
}

.more {
	margin: 32px;
	width: 300px;
	height: auto;
	box-shadow: 0px 0px 8 px #ccc;
	border-radius: 4px;
}

.more img {
	width: 300px;
	/*width: 100%;*/
	height: auto;
	border-radius: 4px;
}

.more-content {
	padding: 16px;
}